form.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70vh;
  FONT-SIZE: 15px;
  /* margin-left: 60px; */
  text-align: center;
  }
  
  h1.login-h1 {
    text-align: center;
  }
  
  button.button-submit {
    border: 1px solid black;
    border-radius: 5px;
    background-color: transparent;
    margin: 21px;
  }
  
  .login-form li {
    list-style-type: none;
    color: black;
    font-size: 12px;
  }
  
  button.button-submit-login {
    color: black;
    background-color: transparent;
    border: black 1px solid;
    margin-bottom: 100px;
    border-radius: 4px;  }
  
  
  .slogan-overlay {
    position: absolute;
    top: 80%;
    left: 35%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-align: left;

  }
  
  .bglogin-video {
    width: 85vw;
    height: 100vh;
    object-fit: cover;
  }
  
  .overlay-login {
    position: absolute;
    top: 50%;
    left: 90%;
    transform: translate(-50%, -50%);
    z-index: 2;
    color: black;
    text-align: center;
    height: 100vh;
    background-color: white;
    width: 20vw;
    text-align: center;
  }
  
  .login-h1 {
    margin-bottom: 50px;
    margin-top: 31px;
  }
  
  .input-for-login {
    background: transparent;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    text-align: center;
    margin-top: 26px;
    margin-bottom: 20px;
  }
  
  .whole-login{
    margin: -20px;
  }


  .browse-login{
    text-align: center; 
    width: 269px;
    position: absolute;
    top: 90%;
    left: 35%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 15px;
    /* font-weight: bold; */
    text-align: center;
    background: rgba(128, 128, 128, 0.314);
    border: transparent;
    border-radius: 74px;
  }

  .browse-login:hover{
    color: gray;
    text-decoration: underline;
    background-color: brown;
    border: brown;
  }

  .demo-user-button{
    background-color: transparent;
  }

  .login-seller{
    text-align: center;
    font-size: 30px;
    margin: 20px;
  }

  .Seller-Button-Home{
    padding-top: 10px;
  }

  .newhere{
    text-decoration: underline;
    margin-top: 19px;
    color: rgba(0, 0, 0, 0.7);
  }